<div class="row">
  <div *ngIf="(event$ | async) as event" class="col-6 offset-3">
    <form #eventForm="ngForm" (ngSubmit)="onUpdate(eventForm, event)">
      <div class="form-group">
        <label for="eventName">Name</label>
        <input id="eventName" name="name" [(ngModel)]="event.name" type="text" class="form-control" pattern=".{8,25}"
          required>
        <div [hidden]="eventForm.controls.name?.valid" class="error-message">
          The name of the event must be min 8 max 25 charaters.
        </div>
      </div>
      <div class="form-group">
        <label for="eventDate">Date</label>
        <input id="eventDate" name="date" [(ngModel)]="event.date" type="text" class="form-control" required
          pattern="^(3[01]|[12][0-9]|0[1-9])/(1[0-2]|0[1-9])/[0-9]{4}$">
        <div [hidden]="eventForm.controls.date?.valid" class="error-message">
          The date of the event must be in dd/mm/yyyy format.
        </div>
      </div>
      <div class="form-group">
        <label for="eventTime">Time</label>
        <input id="eventTime" name="time" [(ngModel)]="event.time" type="text" class="form-control" required
          pattern="^([1-9]|0[1-9]|1[0-2]):[0-5][0-9] ([ap][m])$">
        <div [hidden]="eventForm.controls.time?.valid" class="error-message">
          The time of the event must be in 00:00 am/pm format.
        </div>
      </div>
      <div class="form-group">
        <label for="eventLocatio">Location</label>
        <input id="eventLocation" name="location" [(ngModel)]="event.location" type="text" class="form-control" required
          pattern="^[A-Z]+[a-zA-Z]*${5,25}">
        <div [hidden]="eventForm.controls.location?.valid" class="error-message">
          Make the first letter upper case. The location must be min 5 max 25 characters.
        </div>
      </div>
      <button [disabled]="eventForm.invalid" type="submit" class="btn btn-primary btn-block btn-lg">
        <i class="fa fa-save"></i>
      </button>
    </form>
  </div>
</div>
